*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx

/app/*.jks
*.apk

bin/
gen/
build/
.gradle

local.properties

.idea

.classpath
.project

.DS_Store

gradle.properties